
.ziro_racun{
	padding-bottom: 5%;
    width: 100%;
   background: url(../images/jovana3.jpg) no-repeat 0 0;
  -webkit-background-size: cover; 
    -moz-background-size: cover;   
    -o-background-size: cover;     
    background-size: cover;       
}
.ziro_sredina {
	width: 100%;
	margin: 0 auto;
	padding: 10% 0 15% 0;
}
.ziro_racun h1,
.ziro_racun h2,
.ziro_racun h3 {
	font-size: 300%;
	font-family: "PT Sans Narrow",sans-serif;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px #000;
}

    

.ziro_racun h3 a {
	text-decoration: underline;
	color: #fff;
}
#adresa {
	padding-top: 2%;
}

@media screen and (max-width: 1000px) {
	

.ziro_racun h1,
.ziro_racun h2,
.ziro_racun h3 {
	font-size: 200%;
	
}
}
@media screen and (max-width: 700px) {
.ziro_racun h1,
.ziro_racun h2,
.ziro_racun h3 {
	font-size: 115%;
	
}
}